<launch>
  <arg name="use_actual" default="false"/>
  <arg name="use_fake" default="false"/>
  <arg name="use_gazebo" default="false"/>
  <arg name="robot_model" default="px100"/>

  <include file="$(find arm_move)/launch/arm_box.launch" pass_all_args="true">
    <arg name="robot_model" value="$(arg robot_model)"/>
    <arg name="dof" value="4"/>
    <arg name="use_actual" value="$(arg use_actual)"/>
    <arg name="use_fake" value="$(arg use_fake)"/>
    <arg name="use_gazebo" value="$(arg use_gazebo)"/>
  </include>

</launch>