<launch>
    <arg name="gui" default="false"/>

    <param name="robot_description" command="xacro $(find diff_drive)/urdf/ddrive.urdf.xacro" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diff_drive)/rviz/ddrive.rviz" />
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diff_drive)/rviz/ddrive_odom.rviz" /> -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <group if="$(arg gui)">
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    </group>

</launch>